html {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

body {
  margin: 0;
  _font-size: 1.4rem;
  _line-height: 1.5;
  color: #333333;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #0088cc; }

a:active {
  outline: 0; }

a:active {
  color: #006699; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  vertical-align: middle; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  resize: vertical; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

h1, h2, h3 {
  line-height: 2;
  font-weight: normal; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.4rem; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #cccccc; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cccccc; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cccccc; }

* {
  -webkit-box-sizing: border-box;
  _-moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #fff; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    display: block;
    content: '';
    clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.icon {
  display: inline-block;
  color: #fff;
  text-align: center;
  _box-shadow: 0 0 15px rgba(0, 0, 0, 0.08) inset;
  border-radius: 3px; }

.icon:hover {
  _box-shadow: 0 0 1px 1px #fa6fa0;
  text-decoration: none; }

.icon:after {
  font-family: 'brankic1979';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 30px; }

html, body {
  position: relative;
  background: #f6f7f9; }

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0; }

.headerBox {
  height: 100%; }

.p10 {
  padding: 0 10px; }

.c000 {
  color: #000; }

.ced4 {
  color: #ed424b; }

.c969 {
  color: #969ba3; }

h2, h3 {
  font-weight: 900; }

h4.tit {
  border-left: 2px solid #ed424b;
  padding-left: 5px;
  line-height: 1;
  font-size: 18px;
  font-weight: 400; }
  h4.tit span {
    padding: 0 5px;
    font-size: 14px; }

.icon-number:after {
  content: "\21"; }

.icon-quote:after {
  content: "\22"; }

.icon-tv:after {
  content: "\23"; }

.icon-upload:after {
  content: "\24"; }

.icon-picture:after {
  content: "\25"; }

.icon-site-map:after {
  content: "\26"; }

.icon-sale:after {
  content: "\27"; }

.icon-smiley:after {
  content: "\28"; }

.icon-stack:after {
  content: "\29"; }

.icon-megaphone:after {
  content: "\2a"; }

.icon-layout:after {
  content: "\2b"; }

.icon-chat:after {
  content: "\2c"; }

.icon-attachment:after {
  content: "\2d"; }

.icon-crop:after {
  content: "\2e"; }

.icon-aids:after {
  content: "\2f"; }

.icon-book:after {
  content: "\30"; }

.icon-radio:after {
  content: "\31"; }

.icon-navigation:after {
  content: "\32"; }

.icon-tags:after {
  content: "\33"; }

.icon-printer:after {
  content: "\34"; }

.icon-book-2:after {
  content: "\35"; }

.icon-heart:after {
  content: "\36"; }

.icon-square:after {
  content: "\37"; }

.icon-hourglass:after {
  content: "\38"; }

.icon-comments:after {
  content: "\39"; }

.icon-chat-2:after {
  content: "\3a"; }

.icon-chat-3:after {
  content: "\3b"; }

.icon-abacus:after {
  content: "\3c"; }

.icon-pencil:after {
  content: "\3d"; }

.icon-circle:after {
  content: "\3e"; }

.icon-info:after {
  content: "\3f"; }

.icon-square-2:after {
  content: "\40"; }

.icon-info-2:after {
  content: "\41"; }

.icon-barcode:after {
  content: "\42"; }

.icon-barcode-2:after {
  content: "\43"; }

.icon-error:after {
  content: "\44"; }

.icon-checked:after {
  content: "\45"; }

.icon-heart-2:after {
  content: "\46"; }

.icon-heart-3:after {
  content: "\47"; }

.icon-usb:after {
  content: "\48"; }

.icon-clipboard:after {
  content: "\49"; }

.icon-clipboard-2:after {
  content: "\4a"; }

.icon-minus:after {
  content: "\4b"; }

.icon-add:after {
  content: "\4c"; }

.icon-expand:after {
  content: "\4d"; }

.icon-collapse:after {
  content: "\4e"; }

.icon-pop-out:after {
  content: "\4f"; }

.icon-pop-in:after {
  content: "\50"; }

.icon-target:after {
  content: "\51"; }

.icon-badge:after {
  content: "\52"; }

.icon-eyedropper:after {
  content: "\53"; }

.icon-switch:after {
  content: "\54"; }

.icon-clipboard-3:after {
  content: "\55"; }

.icon-atom:after {
  content: "\56"; }

.icon-pictures:after {
  content: "\57"; }

.icon-alert:after {
  content: "\58"; }

.icon-ruler:after {
  content: "\59"; }

.icon-moon:after {
  content: "\5a"; }

.icon-sun:after {
  content: "\5b"; }

.icon-lightning:after {
  content: "\5c"; }

.icon-rain:after {
  content: "\5d"; }

.icon-dollar:after {
  content: "\5e"; }

.icon-piano:after {
  content: "\5f"; }

.icon-pen:after {
  content: "\60"; }

.icon-volume:after {
  content: "\61"; }

.icon-volume-2:after {
  content: "\62"; }

.icon-volume-3:after {
  content: "\63"; }

.icon-equalizer:after {
  content: "\64"; }

.icon-resize:after {
  content: "\65"; }

.icon-resize-2:after {
  content: "\66"; }

.icon-scissors:after {
  content: "\67"; }

.icon-discout:after {
  content: "\68"; }

.icon-pin:after {
  content: "\69"; }

.icon-pin-2:after {
  content: "\6a"; }

.icon-dollar-2:after {
  content: "\6b"; }

.icon-coins:after {
  content: "\6c"; }

.icon-pig:after {
  content: "\6d"; }

.icon-bookmark:after {
  content: "\6e"; }

.icon-bookmark-2:after {
  content: "\6f"; }

.icon-layout-2:after {
  content: "\70"; }

.icon-box:after {
  content: "\71"; }

.icon-lamp:after {
  content: "\72"; }

.icon-key:after {
  content: "\73"; }

.icon-eight-ball:after {
  content: "\74"; }

.icon-location:after {
  content: "\75"; }

.icon-watch:after {
  content: "\76"; }

.icon-minus-2:after {
  content: "\77"; }

.icon-minus-3:after {
  content: "\78"; }

.icon-plus:after {
  content: "\79"; }

.icon-plus-2:after {
  content: "\7a"; }

.icon-cancel:after {
  content: "\7b"; }

.icon-cancel-2:after {
  content: "\7c"; }

.icon-checkmark:after {
  content: "\7d"; }

.icon-inbox:after {
  content: "\7e"; }

.icon-pictures-2:after {
  content: "\e000"; }

.icon-android:after {
  content: "\e001"; }

.icon-marvin:after {
  content: "\e002"; }

.icon-checkmark-2:after {
  content: "\e003"; }

.icon-pictures-3:after {
  content: "\e004"; }

.icon-cloud:after {
  content: "\e005"; }

.icon-upload-2:after {
  content: "\e006"; }

.icon-direction:after {
  content: "\e007"; }

.icon-map:after {
  content: "\e008"; }

.icon-sad:after {
  content: "\e009"; }

.icon-david-star:after {
  content: "\e00a"; }

.icon-patch:after {
  content: "\e00b"; }

.icon-layout-3:after {
  content: "\e00c"; }

.icon-layout-4:after {
  content: "\e00d"; }

.icon-pil:after {
  content: "\e00e"; }

.icon-cross:after {
  content: "\e00f"; }

.icon-mute:after {
  content: "\e010"; }

.icon-chart:after {
  content: "\e011"; }

.icon-trashcan:after {
  content: "\e012"; }

.icon-hand:after {
  content: "\e013"; }

.icon-moon-and-star:after {
  content: "\e014"; }

.icon-injection:after {
  content: "\e015"; }

.icon-layout-5:after {
  content: "\e016"; }

.icon-layout-6:after {
  content: "\e017"; }

.icon-layout-7:after {
  content: "\e018"; }

.icon-layout-8:after {
  content: "\e019"; }

.icon-layout-9:after {
  content: "\e01a"; }

.icon-layout-10:after {
  content: "\e01b"; }

.icon-cube:after {
  content: "\e01c"; }

.icon-lamp-2:after {
  content: "\e01d"; }

.icon-lamp-3:after {
  content: "\e01e"; }

.icon-lamp-4:after {
  content: "\e01f"; }

.icon-thermometer:after {
  content: "\e020"; }

.icon-transformers:after {
  content: "\e021"; }

.icon-radio-2:after {
  content: "\e022"; }

.icon-vote:after {
  content: "\e023"; }

.icon-chart-2:after {
  content: "\e024"; }

.icon-pacman:after {
  content: "\e025"; }

.icon-cassette:after {
  content: "\e026"; }

.icon-watch-2:after {
  content: "\e027"; }

.icon-chronometer:after {
  content: "\e028"; }

.icon-chart-3:after {
  content: "\e029"; }

.icon-chart-4:after {
  content: "\e02a"; }

.icon-chart-5:after {
  content: "\e02b"; }

.icon-chart-6:after {
  content: "\e02c"; }

.icon-graduate:after {
  content: "\e02d"; }

.icon-lab:after {
  content: "\e02e"; }

.icon-football:after {
  content: "\e02f"; }

.icon-tie:after {
  content: "\e030"; }

.icon-medal:after {
  content: "\e031"; }

.icon-medal-2:after {
  content: "\e032"; }

.icon-satellite:after {
  content: "\e033"; }

.icon-batman:after {
  content: "\e034"; }

.icon-space-invaders:after {
  content: "\e035"; }

.icon-skeletor:after {
  content: "\e036"; }

.icon-lamp-5:after {
  content: "\e037"; }

.icon-switch-2:after {
  content: "\e038"; }

.icon-edit:after {
  content: "\e039"; }

.icon-notice:after {
  content: "\e03a"; }

.icon-notice-2:after {
  content: "\e03b"; }

.icon-cog:after {
  content: "\e03c"; }

.icon-cogs:after {
  content: "\e03d"; }

.icon-cog-2:after {
  content: "\e03e"; }

.icon-warning:after {
  content: "\e03f"; }

.icon-suitcase:after {
  content: "\e040"; }

.icon-health:after {
  content: "\e041"; }

.icon-suitcase-2:after {
  content: "\e042"; }

.icon-suitcase-3:after {
  content: "\e043"; }

.icon-number-2:after {
  content: "\e044"; }

.icon-camera:after {
  content: "\e045"; }

.icon-quote-2:after {
  content: "\e046"; }

.icon-number-3:after {
  content: "\e047"; }

.icon-tag:after {
  content: "\e048"; }

.icon-camera-2:after {
  content: "\e049"; }

.icon-camera-3:after {
  content: "\e04a"; }

.icon-tag-2:after {
  content: "\e04b"; }

.icon-number-4:after {
  content: "\e04c"; }

.icon-link:after {
  content: "\e04d"; }

.icon-number-5:after {
  content: "\e04e"; }

.icon-film:after {
  content: "\e04f"; }

.icon-film-2:after {
  content: "\e050"; }

.icon-link-2:after {
  content: "\e051"; }

.icon-number-6:after {
  content: "\e052"; }

.icon-number-7:after {
  content: "\e053"; }

.icon-number-8:after {
  content: "\e054"; }

.icon-number-9:after {
  content: "\e055"; }

.icon-number-10:after {
  content: "\e056"; }

.icon-number-11:after {
  content: "\e057"; }

.icon-number-12:after {
  content: "\e058"; }

.icon-number-13:after {
  content: "\e059"; }

.icon-number-14:after {
  content: "\e05a"; }

.icon-number-15:after {
  content: "\e05b"; }

.icon-number-16:after {
  content: "\e05c"; }

.icon-number-17:after {
  content: "\e05d"; }

.icon-number-18:after {
  content: "\e05e"; }

.icon-number-19:after {
  content: "\e05f"; }

.icon-number-20:after {
  content: "\e060"; }

.icon-ipod:after {
  content: "\e061"; }

.icon-monitor:after {
  content: "\e062"; }

.icon-window:after {
  content: "\e063"; }

.icon-tablet:after {
  content: "\e064"; }

.icon-phone:after {
  content: "\e065"; }

.icon-files:after {
  content: "\e066"; }

.icon-file:after {
  content: "\e067"; }

.icon-file-2:after {
  content: "\e068"; }

.icon-file-3:after {
  content: "\e069"; }

.icon-calendar:after {
  content: "\e06a"; }

.icon-calendar-2:after {
  content: "\e06b"; }

.icon-calendar-3:after {
  content: "\e06c"; }

.icon-cabinet:after {
  content: "\e06d"; }

.icon-cabinet-2:after {
  content: "\e06e"; }

.icon-film-3:after {
  content: "\e06f"; }

.icon-microphone:after {
  content: "\e070"; }

.icon-microphone-2:after {
  content: "\e071"; }

.icon-microphone-3:after {
  content: "\e072"; }

.icon-drink:after {
  content: "\e073"; }

.icon-drink-2:after {
  content: "\e074"; }

.icon-drink-3:after {
  content: "\e075"; }

.icon-drink-4:after {
  content: "\e076"; }

.icon-coffee:after {
  content: "\e077"; }

.icon-mug:after {
  content: "\e078"; }

.icon-ice-cream:after {
  content: "\e079"; }

.icon-cake:after {
  content: "\e07a"; }

.icon-inbox-2:after {
  content: "\e07b"; }

.icon-download:after {
  content: "\e07c"; }

.icon-alarm-clock:after {
  content: "\e07d"; }

.icon-time:after {
  content: "\e07e"; }

.icon-time-2:after {
  content: "\e07f"; }

.icon-headphones:after {
  content: "\e080"; }

.icon-wallet:after {
  content: "\e081"; }

.icon-checkmark-3:after {
  content: "\e082"; }

.icon-cancel-3:after {
  content: "\e083"; }

.icon-eye:after {
  content: "\e084"; }

.icon-position:after {
  content: "\e085"; }

.icon-site-map-2:after {
  content: "\e086"; }

.icon-download-2:after {
  content: "\e087"; }

.icon-bowling:after {
  content: "\e088"; }

.icon-cord:after {
  content: "\e089"; }

.icon-umbrella:after {
  content: "\e08a"; }

.icon-box-2:after {
  content: "\e08b"; }

.icon-stretch:after {
  content: "\e08c"; }

.icon-layout-11:after {
  content: "\e08d"; }

.icon-profile:after {
  content: "\e08e"; }

.icon-address-book:after {
  content: "\e08f"; }

.icon-address-book-2:after {
  content: "\e090"; }

.icon-profile-2:after {
  content: "\e091"; }

.icon-narrow:after {
  content: "\e092"; }

.icon-layout-12:after {
  content: "\e093"; }

.icon-diamond:after {
  content: "\e094"; }

.icon-street-light:after {
  content: "\e095"; }

.icon-locked:after {
  content: "\e096"; }

.icon-bowling-pin:after {
  content: "\e097"; }

.icon-basket:after {
  content: "\e098"; }

.icon-folder:after {
  content: "\e099"; }

.icon-gamepad:after {
  content: "\e09a"; }

.icon-alarm:after {
  content: "\e09b"; }

.icon-alarm-cancel:after {
  content: "\e09c"; }

.icon-phone-2:after {
  content: "\e09d"; }

.icon-phone-3:after {
  content: "\e09e"; }

.icon-image:after {
  content: "\e09f"; }

.icon-open:after {
  content: "\e0a0"; }

.icon-mouse:after {
  content: "\e0a1"; }

.icon-washing-machine:after {
  content: "\e0a2"; }

.icon-oven:after {
  content: "\e0a3"; }

.icon-refrigerator:after {
  content: "\e0a4"; }

.icon-microwave:after {
  content: "\e0a5"; }

.icon-3d-glasses:after {
  content: "\e0a6"; }

.icon-soccer:after {
  content: "\e0a7"; }

.icon-baseball:after {
  content: "\e0a8"; }

.icon-unlocked:after {
  content: "\e0a9"; }

.icon-locked-2:after {
  content: "\e0aa"; }

.icon-unlocked-2:after {
  content: "\e0ab"; }

.icon-magnifier:after {
  content: "\e0ac"; }

.icon-zoom-in:after {
  content: "\e0ad"; }

.icon-zoom-out:after {
  content: "\e0ae"; }

.icon-stack-2:after {
  content: "\e0af"; }

.icon-stack-3:after {
  content: "\e0b0"; }

.icon-megaphone-2:after {
  content: "\e0b1"; }

.icon-battery:after {
  content: "\e0b2"; }

.icon-battery-2:after {
  content: "\e0b3"; }

.icon-battery-3:after {
  content: "\e0b4"; }

.icon-battery-4:after {
  content: "\e0b5"; }

.icon-battery-5:after {
  content: "\e0b6"; }

.icon-archive:after {
  content: "\e0b7"; }

.icon-bomb:after {
  content: "\e0b8"; }

.icon-bag:after {
  content: "\e0b9"; }

.icon-money-bag:after {
  content: "\e0ba"; }

.icon-grid:after {
  content: "\e0bb"; }

.icon-grid-2:after {
  content: "\e0bc"; }

.icon-list:after {
  content: "\e0bd"; }

.icon-list-2:after {
  content: "\e0be"; }

.icon-ruler-2:after {
  content: "\e0bf"; }

.icon-ruler-3:after {
  content: "\e0c0"; }

.icon-pen-2:after {
  content: "\e0c1"; }

.icon-brush:after {
  content: "\e0c2"; }

.icon-hammer:after {
  content: "\e0c3"; }

.icon-paint:after {
  content: "\e0c4"; }

.icon-screwdriver:after {
  content: "\e0c5"; }

.icon-tools:after {
  content: "\e0c6"; }

.icon-layout-13:after {
  content: "\e0c7"; }

.icon-layout-14:after {
  content: "\e0c8"; }

.icon-resize-3:after {
  content: "\e0c9"; }

.icon-profile-3:after {
  content: "\e0ca"; }

.icon-safe:after {
  content: "\e0cb"; }

.icon-rotate:after {
  content: "\e0cc"; }

.icon-download-3:after {
  content: "\e0cd"; }

.icon-envelope:after {
  content: "\e0ce"; }

.icon-envelope-2:after {
  content: "\e0cf"; }

.icon-rotate-2:after {
  content: "\e0d0"; }

.icon-calculator:after {
  content: "\e0d1"; }

.icon-library:after {
  content: "\e0d2"; }

.icon-reply:after {
  content: "\e0d3"; }

.icon-radio-active:after {
  content: "\e0d4"; }

.icon-music:after {
  content: "\e0d5"; }

.icon-forward:after {
  content: "\e0d6"; }

.icon-auction:after {
  content: "\e0d6"; }

.icon-justice:after {
  content: "\e0d8"; }

.icon-retweet:after {
  content: "\e0d9"; }

.icon-presentation:after {
  content: "\e0da"; }

.icon-male:after {
  content: "\e0db"; }

.icon-shuffle:after {
  content: "\e0dc"; }

.icon-stats:after {
  content: "\e0dd"; }

.icon-stats-2:after {
  content: "\e0de"; }

.icon-loop:after {
  content: "\e0df"; }

.icon-female:after {
  content: "\e0e0"; }

.icon-cloudy:after {
  content: "\e0e1"; }

.icon-badge-2:after {
  content: "\e0e2"; }

.icon-globe:after {
  content: "\e0e3"; }

.icon-globe-2:after {
  content: "\e0e4"; }

.icon-ticket:after {
  content: "\e0e5"; }

.icon-cloudy-2:after {
  content: "\e0e6"; }

.icon-shipping:after {
  content: "\e0e7"; }

.icon-ticket-2:after {
  content: "\e0e8"; }

.icon-car:after {
  content: "\e0e9"; }

.icon-bike:after {
  content: "\e0ea"; }

.icon-ticket-3:after {
  content: "\e0eb"; }

.icon-ying-yang:after {
  content: "\e0ec"; }

.icon-compass:after {
  content: "\e0ed"; }

.icon-microphone-4:after {
  content: "\e0ee"; }

.icon-truck:after {
  content: "\e0ef"; }

.icon-bus:after {
  content: "\e0f0"; }

.icon-bike-2:after {
  content: "\e0f1"; }

.icon-plane:after {
  content: "\e0f2"; }

.icon-paper-plane:after {
  content: "\e0f3"; }

.icon-rocket:after {
  content: "\e0f4"; }

.icon-keyboard:after {
  content: "\e0f5"; }

.icon-stop:after {
  content: "\e0f6"; }

.icon-cone:after {
  content: "\e0f6"; }

.icon-blocked:after {
  content: "\e0f8"; }

.icon-zip:after {
  content: "\e0f9"; }

.icon-zip-2:after {
  content: "\e0fa"; }

.icon-anchor:after {
  content: "\e0fb"; }

.icon-locked-heart:after {
  content: "\e0fc"; }

.icon-magnet:after {
  content: "\e0fd"; }

.icon-keyboard-2:after {
  content: "\e0fe"; }

.icon-snow:after {
  content: "\e0ff"; }

@font-face {
  font-family: 'brankic1979';
  src: url("../fonts/brankic1979.eot");
  src: url("../fonts/brankic1979.eot?#iefix") format("embedded-opentype"), url("../fonts/brankic1979.svg#brankic1979") format("svg"), url("../fonts/brankic1979.woff") format("woff"), url("../fonts/brankic1979.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.header {
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  text-align: center;
  padding: 10px; }
  .header .logo {
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 0;
    font-size: 18px; }
  .header .menu {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0; }
    .header .menu span {
      padding: 0 5px; }
      .header .menu span:active {
        background: #eee; }
  .header .type {
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    color: #ed424b;
    border: 1px solid;
    display: inline-block; }
    .header .type a {
      padding: 5px 10px;
      font-size: 16px;
      color: #ed424b; }
      .header .type a:active, .header .type a.active {
        background: #ed424b;
        color: #fff; }

.banner {
  position: relative;
  padding: 0 10px; }
  .banner img {
    width: 100%; }

.nav {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 10px;
  justify-content: space-around; }
  .nav a {
    text-align: center; }

.hot, .xs, .ph {
  padding: 20px 10px;
  background: #fff; }
  .hot .swiper-slide, .xs .swiper-slide, .ph .swiper-slide {
    padding: 10px 0 0; }
    .hot .swiper-slide h3, .xs .swiper-slide h3, .ph .swiper-slide h3 {
      font-size: 14px;
      padding: .2em 0;
      font-weight: 400;
      line-height: 1.2em; }
    .hot .swiper-slide img, .xs .swiper-slide img, .ph .swiper-slide img {
      width: 100%; }
    .hot .swiper-slide p, .xs .swiper-slide p, .ph .swiper-slide p {
      font-size: 12px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }

.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 20px 0; }
  .menu a {
    flex: 1;
    align-self: center;
    text-align: center;
    height: 25px;
    line-height: 25px;
    border: 1px solid;
    border-radius: 10px;
    margin: 0 10px; }

.xs .more, ph .more {
  float: right;
  color: #969ba3; }
.xs .ic, ph .ic {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden; }
  .xs .ic em, ph .ic em {
    background: rgba(0, 0, 255, 0.7);
    color: #fff;
    padding: 0 20px;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    transform: translate(-20px, 10px) rotate(-45deg);
    _transform-origin: left top; }

.ph ul {
  display: flex;
  margin-top: 10px;
  text-align: center;
  color: #ed424b;
  border: 1px solid;
  border-radius: 5px;
  overflow: hidden;
  font-size: 20px; }
  .ph ul li {
    flex: 1;
    padding: 5px;
    border-right: 1px solid; }
    .ph ul li:last-child {
      border: none; }
    .ph ul li:active, .ph ul li.active {
      color: #fff;
      background: #ed424b; }
.ph ol li {
  height: 0;
  overflow: hidden; }
  .ph ol li.active {
    height: auto; }

/*# sourceMappingURL=index.css.map */
